/* Import Cairo Font From Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfbfb;
  --large-font-Size: 16px;
  --small-font-Size: 14px;
  --x-small-font-Size: 12px;
  --fontWeight-700: 700;
  --fontWeight-700: 700;
  --black-text-color: #171717;
  --gray-text-color: #888;
  --red-text-color: #E30613;
  --yellow-text-color: #ffe945;
  --green-text-color: #4fcb0d;
  --gray-border-color: #ececec;
  --list-gap: 40px;
  --gray-bg: #f8f8f8;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: "Cairo", Arial;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--list-gap);
}

ul li a,
ul li button {
  text-wrap: nowrap;
}

section {
  width: 100%;
  height: calc(100vh - 68px);
}


.custom-padding-x {
  padding: 70px;
}

.custom-padding-y {
  padding: 16px;
}


/* Start Fonts */

/* +++++++++ Color ++++++++++ */
.text--black {
  color: var(--black-text-color);
}

.text-gray {
  color: var(--gray-text-color);
}

.text-red {
  color: var(--red-text-color);
}

.text-yellow {
  color: var(--yellow-text-color);
}

.text-green {
  color: var(--green-text-color);
}

/* +++++++++ Text size ++++++++++ */

.text-large-size {
  font-size: var(--large-font-Size);
}

.text-small-size {
  font-size: var(--small-font-Size);
}

.text-x-small-size {
  font-size: var(--x-small-font-Size);
}

/* +++++++++ Text weight ++++++++++ */

.text-large-weight {
  font-weight: var(--fontWeight-700);
}

.text-small-weight {
  font-weight: var(--fontWeight-600);
}

.text-x-small-weight {
  font-weight: var(--fontWeight-500);
}

/* End Fonts */

/* Progress bar */
.stepsStyle {
  font-size: var(--small-font-Size);
  color: var(--gray-text-color);
  font-weight: var(--fontWeight-500);

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-border-color);
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: var(--background);
}

.doneStep {
  width: 20px;
  height: 20px;
  color: var(--background);
}

th {
  background: var(--gray-bg) !important;
}

::-webkit-scrollbar {
  width: 2px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--red-text-color);
}